input {
  font-size: large;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.items {
  max-width: 50%;
}

.calc {
  border: #801f1f 3px dashed;
  padding: 10px;
  margin-bottom: 5px;
}
