body {
  padding: 0;
  margin: 0;
  height: 90vh;
}

@media only screen and (min-width: 300px) {
  .container {
    height: 100%;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .items {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
  }

  #mapid {
    min-height: 50vh;
    min-width: 90%;
    border: #132e58 3px dotted;
    padding: 10px;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 960) {
  .container {
    height: 100%;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .items {
    max-width: 50%;
  }

  #mapid {
    height: 400px;
    max-width: 100%;
    border: #132e58 3px dotted;
    padding: 10px;
    margin-bottom: 5px;
  }
}
